.details-div {
    display: flex;
    justify-content: center;
    padding: 25px;
  }
  
  .details-section {
    background-color: rgb(6, 11, 39); ;
    background-size: cover;
    border-radius: 20px;
    border: 5px solid rgb(29, 95, 194);
    box-shadow: 8px 8px 11px 8px #010002;
    color: rgb(29, 95, 194);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
    max-width: 800px; 
    margin: auto; 
  }
  
  
  .main-info {
    display: flex;
    border: 5px groove rgb(29, 95, 194);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px black;
    margin-bottom: 20px;
  }
  
  .game-image {
    height: 350px;
    width: 260px;
    border-radius: 10px;
  }
  
  .details-info {
    margin-left: 20px;
  }
  
  .title,
  .year {
    font-size: 24px;
  }
  
  .details-description {
    padding: 20px;
    font-size: 18px;
  }
  
  .description-title {
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
  }
  
  .description-text {
    margin-top: 10px;
  }
  
  .details-buttons {
    display: flex;
    padding: 15px;
    border-radius: 20px;
    border: 5px solid rgb(29, 95, 194);
    box-shadow: 8px 8px 11px 8px #010002;
    justify-content: space-evenly;
  }
  
  .edit-button,
  .delete-button {
    box-shadow: 3px 2px 2px 2px rgb(2, 10, 21);
    outline-color: black;
    background-color: rgb(29, 95, 194);
    color: white;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  .edit-button:hover,
  .delete-button:hover {
    background-color: #1d5fc2;
  }
  