<div class="details-div">
    <section class="details-section">
      <div class="main-info">
        <img [src]="(game$ | async)?.imageUrl" alt="Game" class="game-image" />
        <div class="details-info">
          <h3 class="title">Title: <span>{{ (game$ | async)?.title }}</span></h3>
          <h3 class="year">Year: <span>{{ (game$ | async)?.year }}</span></h3>
        </div>
      </div>
  
      <div class="details-description">
        <div>
          <h2 class="description-title">Description:</h2>
          <p class="description-text">{{ (game$ | async)?.description }}</p>
        </div>
      </div>
  
      <div class="details-buttons" *ngIf="isOwner">
        <a routerLink="/catalog/{{ (game$ | async)?.id }}/edit"><button class="edit-button">Edit</button></a>
        <button class="delete-button" (click)="deleteGame()">Delete</button>
      </div>
    </section>
  </div>
  